/**************** Animation Tryouts **********************/

/***************Left Circle****************/
@keyframes goToCircle1 {
    0% {
      border-radius: 50%;
    }

    14% {
        height: 4%;
        width: 4%;
        left: 3%;
        border-radius: 50%;
      }


    100% {
      height: 9%;
      width: 9%;
      border-radius: 50%;
    }

}


@keyframes goToCircle1a {
    
    3% {
        height: 9%;
        width: 9%;
        /* transform: translate(50%,50%); */
        /* top: 80%;
        left: 50%; */
        border-radius: 50%;
        
        /* transform: rotate(0deg) rotate(0deg)  translate(300px); */
              
        transform: translate(273px,300px)
    }

    6% {
        height: 9%;
        width: 9%;
        /* transform: translate(50%,50%); */
        /* top: 80%;
        left: 50%; */
        border-radius: 50%;
        
        /* transform: rotate(0deg) rotate(0deg)  translate(300px); */
              
        transform: translate(573px,0px)
    }

    9% {
        height: 9%;
        width: 9%;
        /* transform: translate(50%,50%); */
        /* top: 80%;
        left: 50%; */
        border-radius: 50%;
        
        /* transform: rotate(0deg) rotate(0deg)  translate(300px); */
              
        transform: translate(273px,-300px)
    }

    12% {
        height: 9%;
        width: 9%;
        /* transform: translate(50%,50%); */
        /* top: 80%;
        left: 50%; */
        border-radius: 50%;
        
        /* transform: rotate(0deg) rotate(0deg)  translate(300px); */
              
        transform: translate(25px,0px)
    }

    15% {
        height: 9%;
        width: 9%;
        /* transform: translate(50%,50%); */
        /* top: 80%;
        left: 50%; */
        border-radius: 50%;
        
        /* transform: rotate(0deg) rotate(0deg)  translate(300px); */
              
        transform: translate(273px,275px)
    }

    18% {
        height: 9%;
        width: 9%;
        /* transform: translate(50%,50%); */
        /* top: 80%;
        left: 50%; */
        border-radius: 50%;
        
        /* transform: rotate(0deg) rotate(0deg)  translate(300px); */
              
        transform: translate(548px,0px)
    }

    21% {
        height: 9%;
        width: 9%;
        /* transform: translate(50%,50%); */
        /* top: 80%;
        left: 50%; */
        border-radius: 50%;
        
        /* transform: rotate(0deg) rotate(0deg)  translate(300px); */
              
        transform: translate(273px,-275px)
    }

    24% {
        height: 9%;
        width: 9%;
        /* transform: translate(50%,50%); */
        /* top: 80%;
        left: 50%; */
        border-radius: 50%;
        
        /* transform: rotate(0deg) rotate(0deg)  translate(300px); */
              
        transform: translate(23px,0px)
    }

    27% {
        height: 9%;
        width: 9%;
        /* transform: translate(50%,50%); */
        /* top: 80%;
        left: 50%; */
        border-radius: 50%;
        
        /* transform: rotate(0deg) rotate(0deg)  translate(300px); */
              
        transform: translate(273px,250px)
    }

    30% {
        height: 9%;
        width: 9%;
        /* transform: translate(50%,50%); */
        /* top: 80%;
        left: 50%; */
        border-radius: 50%;
        
        /* transform: rotate(0deg) rotate(0deg)  translate(300px); */
              
        transform: translate(523px,0px)
    }

    33% {
        height: 9%;
        width: 9%;
        /* transform: translate(50%,50%); */
        /* top: 80%;
        left: 50%; */
        border-radius: 50%;
        
        /* transform: rotate(0deg) rotate(0deg)  translate(300px); */
              
        transform: translate(273px,-250px)
    }

    36% {
        height: 9%;
        width: 9%;
        /* transform: translate(50%,50%); */
        /* top: 80%;
        left: 50%; */
        border-radius: 50%;
        
        /* transform: rotate(0deg) rotate(0deg)  translate(300px); */
              
        transform: translate(48px,0px)
    }

    39% {
        height: 9%;
        width: 9%;
        /* transform: translate(50%,50%); */
        /* top: 80%;
        left: 50%; */
        border-radius: 50%;
        
        /* transform: rotate(0deg) rotate(0deg)  translate(300px); */
              
        transform: translate(273px,225px)
    }

    42% {
        height: 9%;
        width: 9%;
        /* transform: translate(50%,50%); */
        /* top: 80%;
        left: 50%; */
        border-radius: 50%;
        
        /* transform: rotate(0deg) rotate(0deg)  translate(300px); */
              
        transform: translate(498px,0px)
    }
    
    45% {
        height: 9%;
        width: 9%;
        /* transform: translate(50%,50%); */
        /* top: 80%;
        left: 50%; */
        border-radius: 50%;
        
        /* transform: rotate(0deg) rotate(0deg)  translate(300px); */
              
        transform: translate(273px,-225px)
    }

    48% {
        height: 9%;
        width: 9%;
        /* transform: translate(50%,50%); */
        /* top: 80%;
        left: 50%; */
        border-radius: 50%;
        
        /* transform: rotate(0deg) rotate(0deg)  translate(300px); */
              
        transform: translate(73px,0px)
    }

    51% {
        height: 9%;
        width: 9%;
        /* transform: translate(50%,50%); */
        /* top: 80%;
        left: 50%; */
        border-radius: 50%;
        
        /* transform: rotate(0deg) rotate(0deg)  translate(300px); */
              
        transform: translate(273px,200px)
    }

    54% {
        height: 9%;
        width: 9%;
        /* transform: translate(50%,50%); */
        /* top: 80%;
        left: 50%; */
        border-radius: 50%;
        
        /* transform: rotate(0deg) rotate(0deg)  translate(300px); */
              
        transform: translate(473px,0px)
    }

    57% {
        height: 9%;
        width: 9%;
        /* transform: translate(50%,50%); */
        /* top: 80%;
        left: 50%; */
        border-radius: 50%;
        
        /* transform: rotate(0deg) rotate(0deg)  translate(300px); */
              
        transform: translate(273px,-200px)
    }

    60% {
        height: 9%;
        width: 9%;
        /* transform: translate(50%,50%); */
        /* top: 80%;
        left: 50%; */
        border-radius: 50%;
        
        /* transform: rotate(0deg) rotate(0deg)  translate(300px); */
              
        transform: translate(98px,0px)
    }

    63% {
        height: 9%;
        width: 9%;
        /* transform: translate(50%,50%); */
        /* top: 80%;
        left: 50%; */
        border-radius: 50%;
        
        /* transform: rotate(0deg) rotate(0deg)  translate(300px); */
              
        transform: translate(273px,175px)
    }

    66% {
        height: 9%;
        width: 9%;
        /* transform: translate(50%,50%); */
        /* top: 80%;
        left: 50%; */
        border-radius: 50%;
        
        /* transform: rotate(0deg) rotate(0deg)  translate(300px); */
              
        transform: translate(448px,0px)
    }

    69% {
        height: 9%;
        width: 9%;
        /* transform: translate(50%,50%); */
        /* top: 80%;
        left: 50%; */
        border-radius: 50%;
        
        /* transform: rotate(0deg) rotate(0deg)  translate(300px); */
              
        transform: translate(273px,-175px)
    }

    72% {
        height: 9%;
        width: 9%;
        /* transform: translate(50%,50%); */
        /* top: 80%;
        left: 50%; */
        border-radius: 50%;
        
        /* transform: rotate(0deg) rotate(0deg)  translate(300px); */
              
        transform: translate(123px,0px)
    }

    75% {
        height: 9%;
        width: 9%;
        /* transform: translate(50%,50%); */
        /* top: 80%;
        left: 50%; */
        border-radius: 50%;
        
        /* transform: rotate(0deg) rotate(0deg)  translate(300px); */
              
        transform: translate(273px,150px)
    }

    78% {
        height: 9%;
        width: 9%;
        /* transform: translate(50%,50%); */
        /* top: 80%;
        left: 50%; */
        border-radius: 50%;
        
        /* transform: rotate(0deg) rotate(0deg)  translate(300px); */
              
        transform: translate(423px,0px)
    }

    81% {
        height: 9%;
        width: 9%;
        /* transform: translate(50%,50%); */
        /* top: 80%;
        left: 50%; */
        border-radius: 50%;
        
        /* transform: rotate(0deg) rotate(0deg)  translate(300px); */
              
        transform: translate(273px,-150px)
    }

    84% {
        height: 9%;
        width: 9%;
        /* transform: translate(50%,50%); */
        /* top: 80%;
        left: 50%; */
        border-radius: 50%;
        
        /* transform: rotate(0deg) rotate(0deg)  translate(300px); */
              
        transform: translate(173px,0px)
    }

    87% {
        height: 9%;
        width: 9%;
        /* transform: translate(50%,50%); */
        /* top: 80%;
        left: 50%; */
        border-radius: 50%;
        
        /* transform: rotate(0deg) rotate(0deg)  translate(300px); */
              
        transform: translate(273px,100px)
    }

    90% {
        height: 9%;
        width: 9%;
        /* transform: translate(50%,50%); */
        /* top: 80%;
        left: 50%; */
        border-radius: 50%;
        
        /* transform: rotate(0deg) rotate(0deg)  translate(300px); */
              
        transform: translate(373px,0px)
    }

    93% {
        height: 9%;
        width: 9%;
        /* transform: translate(50%,50%); */
        /* top: 80%;
        left: 50%; */
        border-radius: 50%;
        
        /* transform: rotate(0deg) rotate(0deg)  translate(300px); */
              
        transform: translate(273px,-100px)
    }

    96% {
        height: 9%;
        width: 9%;
        /* transform: translate(50%,50%); */
        /* top: 80%;
        left: 50%; */
        border-radius: 50%;
        
        /* transform: rotate(0deg) rotate(0deg)  translate(300px); */
              
        transform: translate(223px,0px)
    }

    100%{
        height: 9%;
        width: 9%;
        /* left: 3%; */
        border-radius: 50%;
        
        transform: translate(273px,0px)
        /* rotate(-1800deg) translate(300px); */
		/* transform: rotate(480deg)
		           translateX(-150px) 
		           rotate(-480deg); */
    }
}

/*********************Bottom Circle *********************/

@keyframes goToCircle2 {
    0% {
      border-radius: 50%;
    }

    50% {
        height: 4%;
        width: 4%;
        bottom: 3%;
        border-radius: 50%;
      }


    100% {
      height: 9%;
      width: 9%;
      border-radius: 50%;
    }
}


@keyframes goToCircle2a {
    0% {
      width: 0;
      content: '';
    }

    100% {
        width: 0;
        content: '';
    }
}


/*********************Right Circle *********************/

@keyframes goToCircle3 {
    0% {
      border-radius: 50%;
    }

    50% {
        height: 4%;
        width: 4%;
        right: 3%;
        border-radius: 50%;
      }


    100% {
      height: 9%;
      width: 9%;
      border-radius: 50%;
    }
}


@keyframes goToCircle3a {
    0% {
      width: 0;
      content: '';
    }

    100% {
        width: 0;
        content: '';
    }
}


/*********************Top Circle *********************/

@keyframes goToCircle4 {
    0% {
      border-radius: 50%;
    }

    50% {
        height: 4%;
        width: 4%;
        top: 3%;
        border-radius: 50%;
      }


    100% {
      height: 9%;
      width: 9%;
      border-radius: 50%;
    }
}


@keyframes goToCircle4a {
    0% {
      width: 0;
      content: '';
    }

    100% {
        width: 0;
        content: '';
    }
}




/***********************Hide Divider element*******************/


@keyframes hideAfterLogo {
    0%{
        transform: translateY(0,0) !important;
        left: 100%;
    }
    100% {
        width: 0;
        left: 100%;
        z-index: -1;
      }
}


/***************************************************************/


@keyframes goToCenterLeft {
 
    10%{
        bottom: 0% !important;
        left: 50% !important;

    }

    100% {
        bottom: 0% !important;
        left: 50% !important;
        
    }
}